<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">Alluring Advertising</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right">
			        <li><a href="/" id="transition"><strong>Home</strong></a></li>
			        <li><a href="/about" class="active" id="transition"><strong>About Us</strong></a></li>
			        <li><a href="/services" id="transition"><strong>Services</strong></a></li>
			        <li><a href="/portfolio" id="transition"><strong>Portfolio</strong></a></li>
			        <li><a href="/contact" id="transition"><strong>Contact us</strong></a></li>
			      </ul>
			    </div>
			</div>
		</nav>

		<!-- End of the navigation bar-->

		<!-- Content -->
		<div class="jumbotron">
			<h1>We are Alluring Advertising</h1>
			<p>Alluring Advertising, LLC is a full service agency; 
			our diversity of the Anglo, Hispanic market is reflected by our multi-national & multi-cultural staff with over 
			27 years of experience in the advertising Industry. 
			We are defined by our slogan "The World is Yours" 
			by bringing the world to our patrons. </p>
			<p>Alluring Advertising strives in touching the hearts and souls of our clients by maintaining the highest level of professionalism and an open communication with our customers and the community they desire to attain.</p>
			<div class="social">
				<h3>Follow us on: <a href="https://www.facebook.com/pages/Alluring-Advertising/156795434379158" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> <a href="https://twitter.com/AlluringAD" target="_blank"><i class="fa fa-twitter fa-2x"></i></a> <a href="https://www.youtube.com/user/AlluringAdvertising?feature=mhum" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></h3>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<div class="col-md-3">
					<div class="page-header">
					  <h1>The Services we offer</h1>
					  <h3>We can help you in the following areas:</h3>
					</div>
					<div class="about-list">
						<ul class="list-group">
				            <a href="/services" id="transition"><li class="list-group-item">Television</li></a>
				            <a href="/services" id="transition"><li class="list-group-item">Brand Identity</li></a>
				            <a href="/services" id="transition"><li class="list-group-item">Web Design & Development</li></a>
				            <a href="/services" id="transition"><li class="list-group-item">Print & Outdoor Media</li></a>
				            <a href="/services" id="transition"><li class="list-group-item">Radio</li></a>
						</ul>
					</div>
				</div>
				<div class="animation">
					<div class="col-md-9">
						<div class="page-header">
							<h1>We do things by the book</h1>
							<h3>Here is the tedious process we follow:</h3>
						</div>
						<img src="images/circle1.jpg" alt="First Circle" class="img-circle" style="width:150px; height:150px;">
						<img src="images/circle2.jpg" alt="Second Circle" class="img-circle" style="width:170px; height:170px;">
						<img src="images/circle3.jpg" alt="Third Circle" class="img-circle" style="width:190px; height:190px;">
						<img src="images/circle4.jpg" alt="Fourth Circle" class="img-circle" style="width:210px; height:210px;">
					</div>
				</div>
			</div>
		</div>
		<hr>
		<!-- End of Content -->

		<!--Footer-->
		<% include partials/page/footer.ejs %>
		<% include partials/page/scripts.ejs %>

</body>
</html>