<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body>
	<!-- Navigation bar -->
	<% include partials/page/navbar.ejs %>

		<!-- Content -->
		<div class="container">
			<h1 style="margin-top:80px;">About Us</h1>
		</div>
		<hr>
		<!-- End of Content -->

		<!--Footer-->
		<% include partials/page/footer.ejs %>
		<% include partials/page/scripts.ejs %>

</body>
</html>