<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" id="transition" href="/">Alluring Advertising</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right">
			        <li><a href="/" id="transition"><strong>Home</strong></a></li>
			        <li><a href="/about" id="transition"><strong>About Us</strong></a></li>
			        <li><a href="/services" id="transition"><strong>Services</strong></a></li>
			        <li><a href="/portfolio" class="active" id="transition"><strong>Portfolio</strong></a></li>
			      </ul>
			    </div>
			</div>
		</nav>

		<!-- End of the navigation bar-->

		<!-- Content -->
		<div class="jumbotron">
            <h1>Branding</h1>
            <p>Selection of our most apprecieted works</p>
            <p class="inline"><a href="/webdesign" class="btn btn-primary" role="button" id="transition"><strong>Web Design</strong></a></p>
            <p class="inline"><a href="/branding" class="btn btn-success" role="button" id="transition"><strong>Brand Identity</strong></a></p>
            <p class="inline"><a href="/print" class="btn btn-primary" role="button" id="transition"><strong>Print Media</strong></a></p></center>
          </div>
          <div class="row" id="center">
              <div class="container">
                <div class="col-md-12">
                 <a class="thumbnail">
                    <img src="images/logos.jpg" alt="Street" style="height:400px; width:500px;">
                  </a>
                  <h2>Real Estate Branding</h2>
                  <p><strong>We design and develop brands that people can identify and engage with, whoever your target audience may be. Branding is essentially the personality and character of your business, not just your logo.  
                  It's a combination of elements - your name, your logo and the values associated with your company.;</strong></p>
                </div>
              </div>      
            </div>
         
		<hr>
		<!-- End of Content -->

		<!--Footer-->
	<footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <h6>Copyright &copy; 2014 Alluring Ad</h6>
          </div>
          <div class="col-sm-4">
            <h5>About Us</h5>
            <p>Alluring is a full service advertising agency in South Florida, specializing in on-line and off-line presence trough: website design, community portals, search engine optimization (SEO) & marketing (SEM), on-line advertising campaigns and all traditional media (TV, print, radio, outdoor, direct mail).</p>
          </div>
          <div class="col-sm-2 col-xs-3">
            <h5>Navigation</h5>
            <ul>
              <li><a href="/" id="transition">Home</a></li>
              <li><a href="/about" id="transition">About</a></li>
              <li><a href="/services" id="transition">Services</a></li>
              <li><a href="/portfolio" id="transition">Portfolio</a></li>
            </ul>
          </div> 
          <div class="col-sm-2 col-xs-3">
            <h5>Follow Us On</h5>
            <ul>
              <li><a href="https://www.facebook.com/pages/Alluring-Advertising/156795434379158" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/AlluringAD" target="_blank">Twitter</a></li>
              <li><a href="https://www.youtube.com/user/AlluringAdvertising?feature=mhum" target="_blank">Youtube</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-12">
            <h6>Coded with <span class="glyphicon glyphicon-heart-empty"></span> by Kevin & Joey Rosario</h6>
          </div>
        </div>
      </div>
    </footer>
		<% include partials/page/scripts.ejs %>

</body>
</html>