<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body>
	<!-- Navigation bar -->
	<% include partials/page/navbar.ejs %>

		<!-- Content -->
			<div class="jumbotron">
				<h1>Welcome to Alluring Advertisement</h1>
				<p>Alluring is a full service advertising agency in South Florida, specializing in on-line and off-line presence trough: website design, community portals, search engine optimization (SEO) & marketing (SEM), on-line advertising campaigns and all traditional media (TV, print, radio, outdoor, direct mail).</p>
				<p><a href="/about" class="btn btn-primary" role="button"><strong>More About Us</strong></a></p>
			</div>
		<hr>

		<div class="row">
			<div class="container">
				<div class="col-md-4">
					<a href="/portfolio" class="thumbnail">
				      <img src="images/portfolio.jpg" alt="Computer on Desk">
				    </a>
					<h2>Portfolio</h2>
					<p>Our Portfolio is filled with;</p>
					<ul class="list-group">
                    	<li class="list-group-item">Print Design</li>
                    	<li class="list-group-item">Web Design</li>
                    	<li class="list-group-item">Branding</li>
					</ul>
					<p><a href="/portfolio" class="btn btn-warning" role="button"><strong>Read More</strong></a>
				</div>
				<div class="col-md-4">
					<a href="/services" class="thumbnail">
				      <img src="images/macbook.jpg" alt="Street">
				    </a>
					<h2>Services</h2>
					<p>Our wide range of services include;</p>
					<ul class="list-group">
                    	<li class="list-group-item">Branding</li>
                    	<li class="list-group-item">Print & Outdoor Media</li>
                    	<li class="list-group-item">Marketing</li>
                    	<li class="list-group-item">Public Relations</li>
                    	<li class="list-group-item">Web Design</li>
                    	<li class="list-group-item">TelevisSion</li>
					</ul>
					<p><a href="/services" class="btn btn-warning" role="button"><strong>Read More</strong></a>
				</div>
				<div class="col-md-4">
					<a href="/contact" class="thumbnail">
				      <img src="images/iphone5.jpg" alt="Computer on Desk">
				    </a>
					<h2>Contact Us</h2>
					<ul class="list-group">
                    	<li class="list-group-item"><strong>Phone</strong>: 786.369.8100</li>
                    	<li class="list-group-item"><strong>Fax</strong>: 786.369.8106</li>
                    	<li class="list-group-item"><strong>Email</strong>: Sales@alluringad.com</li>
                    	<li class="list-group-item"><strong>Address</strong>:
							1275 West 47th Place, Suite 104
							Hialeah, Fl. 33012</li>
					</ul>
					<p><a href="/contact" class="btn btn-warning" role="button"><strong>Directions</strong></a>
				</div>
			</div>
		</div>
		<hr>
		<!-- End of Content -->

		<!--Footer-->
		<% include partials/page/footer.ejs %>
		<% include partials/page/scripts.ejs %>
		
	

</body>
</html>