<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body style='background-color:#000026;'>
			<div class="jumbotron" style='margin-top:19%;'>
				<h1>Clients list coming Soon!!</h1>
			</div>
		
		<% include partials/page/scripts.ejs %>
		
	

</body>
</html>