<!DOCTYPE html>
<html>
<head>
	<% include partials/page/head.ejs %>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">Alluring Advertising</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right">
			        <li><a href="/" id="transition"><strong>Home</strong></a></li>
			        <li><a href="/about" id="transition"><strong>About Us</strong></a></li>
			        <li><a href="/services" id="transition"><strong>Services</strong></a></li>
			        <li><a href="/portfolio" class="active" id="transition"><strong>Portfolio</strong></a></li>
			        <li><a href="/contact" id="transition"><strong>Contact us</strong></a></li>
			      </ul>
			    </div>
			</div>
		</nav>

		<!-- End of the navigation bar-->

		<!-- Content -->
		<div class="container">
			<h1 style="margin-top:80px;">Portfolio</h1>
		</div>
		<hr>
		<!-- End of Content -->

		<!--Footer-->
		<% include partials/page/footer.ejs %>
		<% include partials/page/scripts.ejs %>

</body>
</html>