body {
	background-color: white;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Josefin Sans', sans-serif;
}

 .navbar-inverse {
 	background-color: #000026;
 	border-color: #add8e6;
 	color: #fff;
 }

 .navbar-inverse .navbar-brand {
 	color: #fff;
	font-family: 'Oswald', sans-serif;
 	transition-duration: 0.3s;
 }

 .navbar-inverse .navbar-brand:hover,
 .navbar-inverse .navbar-brand:focus{
 	-webkit-color: #ff4c4c;
 	-moz-color: #ff4c4c;
 	-o-color: #ff4c4c;
 	color: #ff4c4c;
 	transition-duration: 0.3s;
 }

 .active {
 	background-color: #8b0000;
 }

 .navbar-inverse .navbar-nav li a{
 	-webkit-color: #fff;
 	-moz-color: #fff;
 	-o-color: #fff;
 	color: #fff;
 	transition-duration: 0.5s;
 }

 .navbar-inverse .navbar-nav li a:hover,
 .navbar-inverse .navbar-nav li a:focus{
 	-webkit-color: #ff4c4c;
 	-moz-color:#ff4c4c;
 	-o-color: #ff4c4c;
 	color: #ff4c4c;
 	transition-duration: 0.5s;
 }



 .navbar-inverse .navbar-toggle {
 	border-color: #fff;
 	transition-duration: 0.3s;
 }

 .navbar-inverse .navbar-toggle:hover,
 .navbar-inverse .navbar-toggle:focus {
 	background-color: #add8e6;
 	border-color: #add8e6;
 	border-color: #fff;
 	transition-duration: 0.3s;
 }

 footer {
 	background-color: #333;
 	color: white;
 	font-size: 14px;
 	padding: 20px;
 }

 footer ul  {
 	list-style: none;
 	padding: 0;
 }

 footer ul li a {
 	text-decoration: none;
 	color: #add8e6;
 }

 footer ul li a:hover,
 footer ul li a:focus,
 footer ul li a:active {
 	text-decoration: none;
 	color: #eee;
 }

 .col-md-4 ul {
 	list-style: none;
 	padding: 0;
 }

 .jumbotron {
 	margin-top: 40px;
 	text-align: center;
 	color: black;
 	background-color: #add8e6;
 }

 .jumbotron .btn-primary {
 	background-color: #000026;
 	border-color: #000026;
 	color: #eee;
 	transition-duration: 0.3s;
 }

 .jumbotron .btn-primary:hover,
 .jumbotron .btn-primary:focus {
 	background-color: #551A8B;
 	border-color: #551A8B;
 	transition-duration: 0.3s;
 }

 .jumbotron .btn-success {
 	background-color: #8b0000;
 	border-color: #8b0000;
 	color: #eee;
 	transition-duration: 0.3s;
 }

.jumbotron .btn-success:hover,
.jumbotron .btn-success:active {
	background-color: #ff4c4c;
 	border-color: #ff4c4c;
 	color: #eee;
 	transition-duration: 0.3s;
} 

 .btn-warning {
 	background-color: #000026;
 	border-color: #000026;
 	color: #fff;
 	transition-duration: 0.3s;
 }

 .btn-warning:hover,
 .btn-warning:focus{
 	background-color: #551A8B;
 	border-color: #551A8B;
 	color: #fff;
 	transition-duration: 0.3s;
 }

 .col-md-6 {
 	background-color: #eee;
 	border-color: black;
 	margin-left, margin-right: 30px;
 }

 .animation {
 	text-align: center;
 }

 .about-list ul a li{
 	text-decoration: none;
 	color: #000;
 	transition-duration: 0.3s;
 }

 .about-list ul a:hover,
 .about-list ul a:focus,
 .about-list ul a:active {
 	text-decoration: none;
 }

 .about-list .list-group .list-group-item:hover,
 .about-list .list-group .list-group-item:focus,
 .about-list .list-group .list-group-item:active {
 	background-color: #8b0000;
 	color: #fff;
 	transition-duration: 0.3s;
 }

.jumbotron a i {
	color: #000026;
}

.inline {
	display: inline-block;
	margin-top: 1px;
}

#center { 
	text-align: center;
	font-size: 30px;
}

#center .col-md-12 a {
	border-style: none;
}