body {
	background-color: white;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Josefin Sans', sans-serif;
}

 .navbar-inverse {
 	background-color: #e5c100;
 	border-color: #e5c100;
 	color: #fff;
 }

 .navbar-inverse .navbar-brand {
 	color: #fff;
 }

 .navbar-inverse .navbar-brand:hover,
 .navbar-inverse .navbar-brand:focus{
 	color: #551a8b;
 }

 .navbar-inverse .navbar-nav li a{
 	color: #fff;
 }

 .navbar-inverse .navbar-nav li a:hover,
 .navbar-inverse .navbar-nav li a:focus{
 	color: #551a8b;
 	background-color: #ccac00;
 }

 .navbar-inverse .navbar-toggle {
 	border-color: #fff;
 }

 .navbar-inverse .navbar-toggle:hover,
 .navbar-inverse .navbar-toggle:focus {
 	background-color: #551a8b;
 	border-color: #551a8b;
 }

 footer {
 	background-color: #333;
 	color: white;
 	font-size: 14px;
 	padding: 20px;
 }

 footer ul  {
 	list-style: none;
 	padding: 0;
 }

 .col-md-4 ul {
 	list-style: none;
 	padding: 0;
 }

 .jumbotron {
 	margin-top: 40px;
 	text-align: center;
 	color: #fff;
 	background-color: #000026
 }

 .jumbotron .btn-primary {
 	background-color: #ccac00;
 	border-color: #ccac00;
 	color: #eee;
 }

 .jumbotron .btn-primary:hover,
 .jumbotron .btn-primary:focus {
 	background-color: #7f6b00;
 	border-color: #7f6b00;
 }

 .btn-warning {
 	background-color: #000026;
 	border-color: #000026;
 	color: #fff;
 }

 .btn-warning:hover,
 .btn-warning:focus {
 	background-color: #190729;
 	border-color: #190729;
 	color: #fff;
 }

 .col-md-6 {
 	background-color: #eee;
 	border-color: black;
 	margin-left, margin-right: 30px;
 }