<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<h6>Copyright &copy; 2014 Alluring Ad</h6>
					</div>
					<div class="col-sm-4">
						<h5>About Us</h5>
						<p>Alluring is a full service advertising agency in South Florida, specializing in on-line and off-line presence trough: website design, community portals, search engine optimization (SEO) & marketing (SEM), on-line advertising campaigns and all traditional media (TV, print, radio, outdoor, direct mail).</p>
					</div>
					<div class="col-sm-2 col-xs-3">
						<h5>Navigation</h5>
						<ul>
							<li><a href="/" id="transition">Home</a></li>
							<li><a href="/about" id="transition">About</a></li>
							<li><a href="/services" id="transition">Services</a></li>
							<li><a href="/portfolio" id="transition">Portfolio</a></li>
						</ul>
					</div> 
					<div class="col-sm-2 col-xs-3">
						<h5>Follow Us On</h5>
						<ul>
							<li><a href="https://www.facebook.com/pages/Alluring-Advertising/156795434379158" target="_blank">Facebook</a></li>
							<li><a href="https://twitter.com/AlluringAD" target="_blank">Twitter</a></li>
							<li><a href="https://www.youtube.com/user/AlluringAdvertising?feature=mhum" target="_blank">Youtube</a></li>
						</ul>
					</div>
					<div class="col-sm-2 col-xs-12">
						<h6>Coded with <span class="glyphicon glyphicon-heart-empty"></span> by Kevin Rosario</h6>
					</div>
				</div>
			</div>
		</footer>
