<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<link rel="shortcut icon" type="image/x-icon" href="images/logo.ico"/>

<meta name="description" content="Alluring is a full service advertising agency in South Florida, specializing in on-line and off-line presence trough: website design, community portals, search engine optimization (SEO) & marketing (SEM), on-line advertising campaigns and all traditional media (TV, print, radio, outdoor, direct mail).">

<meta name="keywords" content="alluring, alluringad, alluring ad, advertisement, marketing, web design, print media, allure, tv marketing, seo, sem">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" media="screen and (max-width: 1000px)" href="/stylesheets/styleS.css">

<link rel="stylesheet" media="screen and (min-width: 1000px)" href="/stylesheets/styleL.css">